.App {
    padding: 0;
}

.Header {
    border-bottom: 1px solid #ddd;
}

.Sidebar {
    width: 120px;
    margin: 5px;
    position: sticky;
    top: 62px;
    align-self: flex-start;
    align-items: start;
}

.Sidebar .nav-item {
    width: 100%;
}

.Sidebar a {
    color: #444;
}

.Sidebar a:hover {
    background-color: #eee;
}

.Sidebar a:visited {
    color: #444;
}

.Sidebar .nav-item .active {
    background-color: #def;
}


.content {
    margin: auto;
}

.beginnerlist :hover {
    background-color: blue;
}

.containerHeader {
    max-height: 200px;
}

.matrix {
    position: relative;
    display: inline-table;
    margin: 0 auto;
    border-spacing: 10px;
}
.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 6px;
    height: 100%;
}
.matrix:before {
    left: -6px;
    border-right: 0;
}
.matrix:after {
    right: -6px;
    border-left: 0;
}

.matrix td {
    padding: 10px;
}

.transpose1-row1 {
    background-color: blue;
}

.transpose1-row2 {
    background-color: green;
}

.blueCol {
    background-color: blue;
}

.greenCol {
    background-color: green;
}

.center-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: calc(100vh - 50px); 
    margin: 0;
    padding-top: 20px; 
}

.embed-responsive {
    margin-top: 10px;
}

.exercise-box {
    margin-top: 20px;  /* Menambah jarak atas */
    margin-bottom: 20px; /* Menambah jarak bawah */
}
